.cs-editor-switch {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    right: 15px;
    margin: -1px -1px 0 0;
    padding: 0;
    width: 145px;
    height: 45px;
    background: var(--gradient-foreground);
    color: var(--bright-foreground);
    fill: var(--bright-foreground);
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 15px 0 var(--dark50);
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}

.cs-editor-switch:hover,
.cs-editor-switch:focus {
    outline: none;
    color: var(--active-foreground);
    fill: var(--active-foreground);
}

.cs-editor-switch.enabled {
    background: var(--light-background);
    color: var(--normal-foreground);
    fill: url(#gradient-fill) var(--normal-foreground);
}

.cs-editor-switch.enabled:hover,
.cs-editor-switch.enabled:focus {
    outline: none;
    background: black;
    border-color: var(--active-foreground);
    color: var(--active-foreground);
    fill: var(--active-foreground);
}
